# Piwigo specific directories
/_data
/upload
/galleries/*
!/galleries/index.php
/local/*
!/local/**/index.php

# Tests
/tests/dist/pages

# Composer
/vendor/

# NPM
/node_modules/
/tests/node_modules/
/themes/bootstrap_darkroom/node_modules/
